.dropdown {
  position: relative;
  display: inline-block;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  height: fit-content;
  margin: 0.3rem;

  &__list {
    position: absolute;
    left: 0.1rem;
    width: 97.5%;
  }

  &__option {
    background-color: #585858;
    padding: 0.3rem 0.5rem;
    transition: all ease-in-out 0.3s;

    &--selected {
      border: 2px solid black;
    }

    &:nth-child(even) {
      background-color: rgb(100, 99, 99);
    }
    
    &:last-child {
      border-bottom-left-radius: 0.4rem;
      border-bottom-right-radius: 0.4rem;
    }

    &:hover {
      background-color: #5a61ea;
    }
  }

  &__arrow-icon {
    margin-left: 0.5rem;
  }
}
