:root {
  --bg-0: var(--black-1);

  --black-0: #1a1a1a;
  --black-1: #242424;
  --grey-light-0: #494949;
  --purple-0: #646cff;
  --purple-1: #535bf2;
  --green-1: #339C2A;
  --green-2: #5aa753;
  --green-light-1: #30B81D;
  --green-light-2: #36d321;
  --green-dark-1: #125e08;
  --green-dark-2: #146e09;
  --red-1: #AC3939;
  --red-2: #f53535;
  --red-3: #ca4949;
  --orange-1: #FF7F27;
  --blue-1: #3989AC;
  --blue-light-1: #4caed8;
  --blue-light-2: #54bbe7;
  --blue-light-3: #6fcff8;
}
